<template name="activityOverView">
    <section class="ui section">
        <h2 class="title">Activity overview</h2>
        <div class="body">
            <h3 class="subtitle">25 games played so far</h3>
            <ul class="ui challenge list">
                <li class="challenge-item">
                    <h4 class="challenge-title">Wasser-Quiz</h4><span class="challenge-point">{{countStation1}}</span>
                </li>
                <li class="challenge-item">
                    <h4 class="challenge-title">Wasser-Bohren</h4><span class="challenge-point">{{countStation2}}</span>
                </li>
                <li class="challenge-item">
                    <h4 class="challenge-title">Wasser-Ziehen</h4><span class="challenge-point">{{countStation3}}</span>
                </li>
                <li class="challenge-item">
                    <h4 class="challenge-title">Wasser-Tragen</h4><span class="challenge-point">{{countStation4}}</span>
                </li>
            </ul>
            <h3 class="subtitle small bottom offset">You earned</h3>
            <div class="center aligned">
                <div class="big primary strong text">1250</div>
                <div class="uppercased">points</div>
                <div class="share-box"><a class="ui mini button" href="#">
                    <svg class="icon share">
                        <use xlink:href="./assets/images/icons.svg#share"></use>
                    </svg>Share your scores</a>
                    <div class="bleached small text">Help us spread the word about our initative by sharing your scores</div>
                </div>
            </div>
        </div>
    </section>
</template>