<!--<template name="OLDaddPinCode">-->
    <!--<div class="ui fluid center aligned basic fitted segment">-->
        <!--{{#autoForm collection="db.Pin" id="insertPIN" type="insert"}}-->
            <!--<fieldset class="ui fluid center aligned basic fitted segment">-->
                <!--<div class="ui green segment">-->
                    <!--<p>-->
                        <!--Du hast bereits einen PIN-Code erhalten? Diesen findest du auf deinem Ticket.-->
                        <!--Bitte gib die PIN deines Tickets hier ein:-->
                    <!--</p>-->
                    <!--{{> afQuickField name='pin'}}-->
                <!--</div>-->

                <!--<div class="ui green segment">-->
                    <!--<p>-->
                        <!--<b>Optional:</b> Falls du Teil einer Gruppe (Klasse, Verein...) bist, hast du vom Teamorganisator vielleicht auch eine GruppenID erhalten?-->
                        <!--Dann gib das hier optional ein:-->
                    <!--</p>-->
                    <!--{{> afQuickField name='teamCode'}}-->
                <!--</div>-->
                    <!--<button type="submit" id="addPinCodeSubmitButton" class="ui button">Absenden</button>-->
            <!--</fieldset>-->
        <!--{{/autoForm}}-->
    <!--</div>-->
<!--</template>-->
