<template name="modalPinCode">
    <aside class="ui modal">
        <div class="center aligned image content"><img class="image" src="assets/images/icons/barcode.png">
            <div class="description">
                <h4 class="description-title">Add new PIN</h4>
                <p class="no bottom offset">Lorem ipsum dolor sit amet, consectetur adipisicingolor sit amet.</p>
            </div>
            <div class="ui form">
                <div class="field">
                    <input id="pinCodeInput" type="text" placeholder="Enter PIN">
                </div>
                <div id="pinError" class="ui field hidden error">
                    <input id="pinErrorMessage" type="text">
                </div>
                <div id="addPinCodeSubmitButton2" class="fluid ui primary button">Add pin</div>
            </div>
        </div>
    </aside>
</template>
