<template name = "highscores">
    <main class="ui main">
        <header class="ui center aligned profile header">
            <div class="ui container"><a class="ui toggle-sidebar" href="#">
                <svg class="icon menu">
                    <use xlink:href="./assets/images/icons.svg#menu"></use>
                </svg></a>
                <a class="ui add-pin secondary mini button" href="javascript:void(0)">+ Neuen PIN hinzufügen</a>
                <div class="content">
                    <svg class="icon trophy">
                        <use xlink:href="./assets/images/icons.svg#trophy"></use>
                    </svg>
                    <h1 class="title">Bestenliste</h1>
                </div>
            </div>
        </header>
        <div class="ui container">
            {{> activityOverView }}
            <section class="ui section">
                <h2 class="title">Einzel Spieler</h2>
                <div class="body full">
                    <div class="ui leaderboard">
                        <article>
                            {{>highscoreTable table=highscore_1}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_2}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_3}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_4}}
                        </article>
                    </div>
                </div>
            </section>
            <section class="ui section">

                <h2 class="title">Deine Teams</h2>

                        <div class="body">
                            <table class="ui selectable celled inverted green table">
                                <thead>
                                <tr>
                                    <td>TeamCode</td>
                                    <td>Titel</td>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each teamss}}
                                    <tr class="team-row">
                                        <td>{{teamCode}}</td>
                                        <td>{{title}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>

                <!--{{#if hasTeamSelected}}-->
                <div class="body full">
                    <div class="ui leaderboard">
                        <article>
                            {{>highscoreTable table=highscore_1_team}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_2_team}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_3_team}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_4_team}}
                        </article>
                    </div>
                </div>
                <!--{{/if}}-->
            </section>
        </div>

    </main>
</template>
