<template name = "highscores">
    <main class="ui main">
        <header class="ui center aligned profile header">
            <div class="ui container"><a class="ui toggle-sidebar" href="#">
                <svg class="icon menu">
                    <use xlink:href="./assets/images/icons.svg#menu"></use>
                </svg></a><a class="ui add-pin secondary mini button" href="javascript:void(0)">+ Add new pin</a>
                <div class="content">
                    <svg class="icon trophy">
                        <use xlink:href="./assets/images/icons.svg#trophy"></use>
                    </svg>
                    <h1 class="title">Highscore List</h1>
                </div>
            </div>
        </header>
        <div class="ui container">
            {{> activityOverView }}
            <section class="ui section">
                <h2 class="title">Einzel Spieler</h2>
                <div class="body full">
                    <div class="ui leaderboard">
                        <article>
                            {{>highscoreTable table=highscore_1}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_2}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_3}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_4}}
                        </article>
                    </div>
                </div>
            </section>
            <section class="ui section">
                <h2 class="title">Team Spieler</h2>
                <div class="body full">
                    <div class="ui leaderboard">
                        <article>
                            {{>highscoreTable table=highscore_1}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_2}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_3}}
                        </article>
                        <article>
                            {{>highscoreTable table=highscore_4}}
                        </article>
                    </div>
                </div>
            </section>
        </div>

    </main>
</template>
