<template name="addTeamCode">
    <div class="ui fluid center aligned basic fitted very padded container segment">
        <h1>Lieber Ralley-Teilnehmer!</h1>
        <p>
            <div class="ui yellow segment">
                <p>
                    Falls du Teil einer Gruppe (Klasse, Verein...) bist, hast du vom Teamorganisator vielleicht auch eine GruppenID erhalten?
                    Dann gib diese hier bitte ein:
                </p>
                <div class="ui huge action input focus">
                    <input id="teamIDInput" type="text" placeholder="TeamID">
                </div>
            </div>
            <div class="ui yellow segment">
                <button id="addTeamCodeSubmitButton" class="ui button">Absenden</button>
            </div>
        </p>
    </div>
</template>
