<template name="howto">
    <main class="ui main">
        <header class="ui center aligned how-to header">
            <div class="ui container"><a class="ui toggle-sidebar" href="#">
                <svg class="icon menu">
                    <use xlink:href="./assets/images/icons.svg#menu"></use>
                </svg></a>
                <div class="content">
                    <h1 class="title">How to play water rally</h1>
                    <p>Lorem ipsum dolor sit met, consectetur adipisicing elit. Quibusdam totam iste.</p>
                </div>
            </div>
        </header>
        <div class="ui container">
            <section class="ui section">
                <h2 class="title">Explanation of playing mode</h2>
                <div class="body">
                    <div class="center aligned"><img src="./assets/images/icons/how-to.png" width="141" height="116"></div>
                    <ol class="ui list">
                        <li>Grab a Brochure at the Westfalenpark.</li>
                        <li>I Use the PIN on the Brochure to register at each station before you play.</li>
                        <li>If you do not use a PIN, your score will not be counted towards your account.</li>
                        <li>Enter your PIN <a href="#">here</a> and add it to your account.</li>
                        <li>Enjoy seeing your score <a href="#">here</a> and share it with friends.</li>
                    </ol>
                </div>
            </section>
            <section class="ui section">
                <h2 class="title">Explanation of playing mode</h2>
                <div class="body">
                    <div class="center aligned"><img src="./assets/images/icons/foundation-logo.png" width="120" height="110"></div>
                    <ol class="ui list">
                        <li>Learning about Water and the problems that come with lack of (quantity and quality) is important.</li>
                        <li>Understanding the importance of humanitarian work and the problems it solves.</li>
                        <li>Because it is fun, so share it with friends.</li>
                    </ol>
                </div>
            </section>
        </div>
    </main>
</template>

