<template name="howto">
    <main class="ui main">
        <header class="ui center aligned how-to header">
            <div class="ui container"><a class="ui toggle-sidebar" href="#">
                <svg class="icon menu">
                    <use xlink:href="./assets/images/icons.svg#menu"></use>
                </svg></a>
                <div class="content">
                    <h1 class="title">Wie spielt man die Wasser-Rallye?</h1>
                </div>
            </div>
        </header>
        <div class="ui container">
            <section class="ui section">
                <h2 class="title">Erklärung des Spielmodus</h2>
                <div class="body">
                    <div class="center aligned"><img src="./assets/images/icons/how-to.png" width="141" height="116"></div>
                    <ol class="ui list">
                        <li>Nimm dir einen Flyer vor Ort im Westfalenpark.</li>
                        <li>Benutze den PIN um dich an der Station anzumelden, bevor du spielst!</li>
                        <li>Wenn du den PIN nicht benutzt, kann dein Spielstand nicht zu deinem Profil hinzugefügt werden.</li>
                        <li>Gib <a href="#">hier</a> deinen PIN ein und füge ihn zu deinem Profil hinzu.</li>
                        <li><a href="#">Hier</a> kannst du dein Ergebnis anschauen und es mit Freunden vergleichen.</li>
                    </ol>
                </div>
            </section>
            <section class="ui section">
                <h2 class="title">Erklärung des Spielmodus</h2>
                <div class="body">
                    <div class="center aligned"><img src="./assets/images/icons/foundation-logo.png" width="120" height="110"></div>
                    <ol class="ui list">
                        <li>Lerne etwas über Wasser und die ungleiche Verteilung dieses wichtigen Gutes.</li>
                        <li>Bekomme einen Einblick in die wichtige Arbeit der humanitären Hilfe und die Probleme die sie lösen möchte.</li>
                        <li>Es macht Spaß sich mit seinen Freunden zu messen und die Ergebnisse zu vergleichen.</li>
                    </ol>
                </div>
            </section>
        </div>
    </main>
</template>

