<template name="pointTable">
    <div class="ui fluid center aligned basic fitted very padded container segment">
        <h1>Allgemeine Punkte Tabelle</h1>
        <button type="button" id="actionButton">Action</button>
        <input id="teamPinDate" class="ui dropdown datetimepicker dateFrom" type="text" name="daterange" value="01/01/2015 0:00 PM - 01/02/2015 0:00 PM" />

        {{> reactiveTable settings=reactPoints}}

        <!--&lt;!&ndash;<div class="ui cards">&ndash;&gt;-->
            <!--{{#each points}}-->
                <!--<div>-->
                <!--{{ pin}}-->
                <!--</div>-->
            <!--{{/each}}-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


    </div>

</template>
