<template name="login">

    <div class="ui fixed faded login cover"></div>
    <!--<div class="ui container"><a class="ui toggle-sidebar" href="#">-->
        <!--<svg class="icon menu">-->
            <!--<use xlink:href="./assets/images/icons.svg#menu"></use>-->
        <!--</svg></a><a class="ui add-pin secondary mini button" href="javascript:void(0)">+ Add new pin</a>-->
        <!--<div class="content"><img class="avatar stationImg" src="{{highscore.stationImage}}" width="100" height="100">-->
            <!--<h1 class="title">{{highscore.title}}</h1>-->
        <!--</div>-->
    <!--</div>-->

    <div class="ui center aligned auth container"><img src="assets/images/logo.png" width="270" alt="">
        <div class="ui form segment" action="highscores">
            {{#if currentUser}}
            {{else}}
                <div class="field">
                    <button class="fluid ui facebook button">
                        <svg class="icon facebook">
                            <use xlink:href="./assets/images/icons.svg#facebook"></use>
                        </svg>Facebook
                    </button>
                </div>
                <div class="field">
                    <button class="fluid ui google plus button">
                        <svg class="icon google-plus">
                            <use xlink:href="./assets/images/icons.svg#google-plus"></use>
                        </svg>Google
                    </button>
                </div>
            <div class="ui horizontal divider">oder</div>

            <div class="field">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="Passwort">
            </div>
            <div class="field clearfix large bottom offset">
                <a class="ui right floated quiet text" href="reset-password.html"><strong>Passwort vergessen?</strong></a>
            </div>
            {{/if}}

            {{#if currentUser}}
                {{ currentUser.username }}
                <button class="fluid ui primary logout button" type="submit">Abmelden</button>
                <div class="ui horizontal divider">oder</div>

                <a class="fluid ui primary button" href="highscores">Zurück zur BestenListe</a>
            {{else}}
                <button class="fluid ui primary password button" type="submit">Anmelden</button>
            {{/if}}


                    <div class="ui middle top offset">
                <!--<small>By signing up, you agree to the <a href="#">Terms of Service.</a></small>-->
            </div>
        </div>
        {{#unless currentUser}}
            <p class="ui light large text top bottom middle offset">Du hast kein Konto?</p><a class="ui secondary button" href="createaccount">Erstelle hier ein neues Konto</a>
        {{/unless}}
        <!--{{#if currentUser}}-->
            <!--<a class="ui secondary button" href="highscores">Zurück zur BestenListe</a>-->
        <!--{{/if}}-->
    </div>
</template>


<template name="createaccount">

    <div class="ui fixed faded login cover"></div>
    <div class="ui center aligned auth container"><img src="assets/images/logo.png" width="270" alt="">
        <div class="ui form segment" action="highscores.html">
            {{#if currentUser}}
            {{else}}

                <div class="field">
                    <button class="fluid ui facebook button">
                        <svg class="icon facebook">
                            <use xlink:href="./assets/images/icons.svg#facebook"></use>
                        </svg>Facebook
                    </button>
                </div>
                <div class="field">
                    <button class="fluid ui google plus button">
                        <svg class="icon google-plus">
                            <use xlink:href="./assets/images/icons.svg#google-plus"></use>
                        </svg>Google
                    </button>
                </div>
                <div class="ui horizontal divider">or</div>
                <div class="field">
                    <input type="text" name="yourName" placeholder="Name">
                </div>
                <div class="field">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Passwort">
                </div>
                <div class="field clearfix large bottom offset">
                    <a class="ui right floated quiet text" href="reset-password.html"><strong>Passwort vergessen?</strong></a>
                </div>
            {{/if}}

            {{#if currentUser}}
                {{ currentUser.username }}
                <button class="fluid ui primary logout button" type="submit">Abmelden</button>
            {{else}}
                <button class="fluid ui primary password button" type="submit">Registrieren</button>
            {{/if}}


            <div class="ui middle top offset">
                <!--<small>By signing up, you agree to the <a href="#">Terms of Service.</a></small>-->
            </div>
        </div>
        <p class="ui light large text top bottom middle offset">Du hast bereits ein Konto?</p><a class="ui secondary button" href="login">Melde dich hier an.</a>
    </div>
</template>
