<template name="addedPinsRow">
    <li>
        <div class="key">Pin number</div>
        <div class="value">{{pin.pin}}</div>
        <div class="action">
            <svg class="icon check">
                <use xlink:href="./assets/images/icons.svg#check"></use>
            </svg>
        </div>
    </li>
</template>

<template name="checkboxLine">
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="{{name}}" checked="true" tabindex="0" class="" id="{{id}}">
            <label for="{{id}}">{{label}}</label>
        </div>
    </div>
</template>


<template name="profile">
    <main class="ui main">
        <header class="ui center aligned profile header">
            <div class="ui container"><a class="ui toggle-sidebar" href="#">
                <svg class="icon menu">
                    <use xlink:href="./assets/images/icons.svg#menu"></use>
                </svg></a><a class="ui add-pin secondary mini button" href="javascript:void(0)">+ Add new pin</a>
                <div class="content"><img class="avatar big" src="{{profileImage}}" width="100" height="100">
                    <h1 class="title">{{profileName}}</h1>
                    <p>{{profileEmail}}</p>
                </div>
            </div>
        </header>
        <div class="ui container">
            {{> activityOverView }}
            <section class="ui section">
                <h2 class="title">Accounts</h2>
                <div class="body">
                    <ul class="ui key-value accounts">
                        <li><a href="#">
                            <svg class="icon facebook">
                                <use xlink:href="./assets/images/icons.svg#facebook"></use>
                            </svg>Mit Facebook verbinden</a></li>
                        <li><a href="#">
                            <svg class="icon google-plus">
                                <use xlink:href="./assets/images/icons.svg#google-plus"></use>
                            </svg>Mit Google+ verbinden</a></li>
                    </ul>
                    <div class="quiet small text top offset">Wenn du dich in einem sozialen Netzwerk anmeldest und deine Punkte teilst, hilft uns das Aufmerksamkeit für die Wasser-Rallye zu generieren.</div>
                </div>
            </section>
            <section class="ui section">
                <h2 class="title">Hinzugefügte Pins</h2>
                <div class="body">
                    <ul class="ui key-value">
                        {{#each assignedPins}}
                            {{> addedPinsRow}}
                        {{/each}}
                    </ul>
                    <div class="small top bottom offset"><a class="ui mini add-pin button" href="javascript:void(0)">+ Neuen Pin hinzufügen</a></div>
                </div>
            </section>
            <section class="ui section">
                <h2 class="title">Profil</h2>
                <div class="body">
                    <!--{{#autoForm id="UserProfileEdit" collection="Meteor.users"  doc=currentUser type="update" resetOnSuccess=false}}-->

                        <!--&lt;!&ndash;<div class="action"><img class="avatar" src="{{profileImage}}" width="35" height="35"></div>&ndash;&gt;-->
                        <!--&lt;!&ndash;{{> afQuickField name="profile.userName"}}&ndash;&gt;-->
                        <!--&lt;!&ndash;{{> afQuickField name="profile.realName"}}&ndash;&gt;-->
                        <!--&lt;!&ndash;{{> afQuickField name="profile.email"}}&ndash;&gt;-->
                        <!--&lt;!&ndash;{{> afQuickField name="profile.age"}}&ndash;&gt;-->
                        <!--&lt;!&ndash;{{> afQuickField name="profile.sex"}}&ndash;&gt;-->

                        <!--{{#unless autoSaveMode}}-->
                            <!--<div class="form-group">-->
                                <!--<button type="submit" class="btn btn-primary" disabled="{{disableButtons}}">Ok</button>-->
                            <!--</div>-->
                        <!--{{/unless}}-->
                    <!--{{/autoForm}}-->
                    <form class="ui form" action="#" method="POST">
                        <ul class="ui key-value view">
                            <li>
                                <div class="key">Foto</div>
                                <div class="value">Sehr schön, nettes Foto</div>
                                <div class="action"><img class="avatar" src="{{profileImage}}" width="35" height="35"></div>
                            </li>
                            <li>
                                <div  class="key">Benutzername</div>
                                <input class="value valueEdit hidden" type="text"  value="{{profileName}}">
                                <div class="value valueShow">{{profileName}}</div>
                                <div class="action">
                                    <a href="">
                                        <svg class="icon edit">
                                            <use xlink:href="./assets/images/icons.svg#edit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="key">Email-Adresse</div>
                                <input class="value valueEdit hidden" type="text"  value="{{profileEmail}}">
                                <div class="value valueShow">{{profileEmail}}</div>
                                <div class="action">
                                    <a href="">
                                        <svg class="icon edit">
                                            <use xlink:href="./assets/images/icons.svg#edit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <!--<li class="slim field error">-->
                                <!--<div class="key">Email address (form field with error)</div>-->
                                <!--<div class="value">-->
                                    <!--<input class="ui slim input" type="email" name="password" value="danijel@sprawsm.com" placeholder="Your email address">-->
                                <!--</div>-->
                                <!--<div class="action"><a href="#">-->
                                    <!--<svg class="icon edit">-->
                                        <!--<use xlink:href="./assets/images/icons.svg#edit"></use>-->
                                    <!--</svg></a></div>-->
                            <!--</li>-->
                            <li>
                                <div class="key">Passwort</div>
                                <input class="value valueEdit hidden" type="password"  value="">
                                <div class="value valueShow">&bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull;</div>
                                <div class="action">
                                    <a href="">
                                        <svg class="icon edit">
                                            <use xlink:href="./assets/images/icons.svg#edit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>

                            <!--<li>-->
                                <!--<div class="key">Passwort</div>-->
                            <!--<div class="value">&bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull;</div>-->
                            <!--<div class="action"><a href="#">-->
                                <!--<svg class="icon edit">-->
                                    <!--<use xlink:href="./assets/images/icons.svg#edit"></use>-->
                                <!--</svg></a></div>-->
                            <!--</li>-->


                            <li>
                                <div class="key">Alter</div>
                                <div class="ui hidden value valueEdit">
                                    <div class="grouped fields">
                                        {{#each ageData}}
                                            {{>checkboxLine}}
                                        {{/each}}
                                    </div>
                                </div>

                                <div class="value valueShow">{{profileAge}}</div>
                                <div class="action">
                                    <a href="">
                                        <svg class="icon edit">
                                            <use xlink:href="./assets/images/icons.svg#edit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="key">Geschlecht</div>
                                <div class="ui hidden value valueEdit">
                                    <div class="grouped fields">
                                        {{#each sexData}}
                                            {{>checkboxLine}}
                                        {{/each}}
                                    </div>
                                </div>

                                <div class="value valueShow">{{profileSex}}</div>
                                <div class="action">
                                    <a href="">
                                        <svg class="icon edit">
                                            <use xlink:href="./assets/images/icons.svg#edit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </form><a class="delete-link small top offset" href="#">
                    <svg class="icon trash">
                        <use xlink:href="./assets/images/icons.svg#trash"></use>
                    </svg>Dein Profil löschen</a>
                    <div class="quiet small text">Durch diese Aktion löscht du alle bisherigen Ergebnisse! Vorsicht!</div>
                </div>
            </section>
        </div>
    </main>
</template>

<template name="imageView">
    <img class="ui small circular image" src="{{profileImage}}">
</template>