<template name="addedPinsRow">
    <li>
        <div class="key">Pin number</div>
        <div class="value">{{pin.pin}}
            {{#if pin.teamCode}}
                <a class="ui add-team" href="">
                    TeamCode: {{pin.teamCode}}
                </a>
            {{else}}
                <a class="ui add-team mini  button" href="">
                    + Team hinzufügen
                </a>
            {{/if}}


        </div>
        <div class="action">
            <svg class="icon check">
                <use xlink:href="./assets/images/icons.svg#check"></use>
            </svg>
        </div>
    </li>
</template>

<template name="checkboxLine">
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="{{name}}" checked="true" tabindex="0" class="" id="{{id}}">
            <label for="{{id}}">{{label}}</label>
        </div>
    </div>
</template>


<template name="profile">
    <aside id="addTeam" class="ui modal">
        <div class="center aligned image content"><img class="image">
            <div class="description">
                <h4 class="description-title">Verknüpfe ein Team zu Pin: {{pinToAssignTeam}}</h4>
                <p class="no bottom offset">Du bist Teil eines Teams? Ausgezeichnet. Gib die erhaltene TeamID hier ein:</p>
            </div>
            <div class="ui form">
                <div class="field">
                    <input id="teamCodeInput" type="text" placeholder="Enter Team">
                </div>
                <div id="teamError" class="ui field hidden error">
                    <input id="teamErrorMessage" type="text">
                </div>
                <div id="addTeamCodeSubmitButton22" class="fluid ui primary button">Add team</div>
            </div>
        </div>
    </aside>

    <main class="ui main">
        <header class="ui center aligned profile header">
            <div class="ui container"><a class="ui toggle-sidebar" href="#">
                <svg class="icon menu">
                    <use xlink:href="./assets/images/icons.svg#menu"></use>
                </svg></a><a class="ui add-pin secondary mini button" href="javascript:void(0)">+ Add new pin</a>
                <div class="content"><img class="avatar big" src="{{profileImage}}" width="100" height="100">
                    <h1 class="title">{{profileName}}</h1>
                    <p>{{profileEmail}}</p>
                </div>
            </div>
        </header>
        <div class="ui container">
            {{> activityOverView }}
            <section class="ui section">
                <h2 class="title">Accounts</h2>
                <div class="body">
                    <ul class="ui key-value accounts">
                        <li><a href="#">
                            <svg class="icon facebook">
                                <use xlink:href="./assets/images/icons.svg#facebook"></use>
                            </svg>Mit Facebook verbinden</a></li>
                        <li><a href="#">
                            <svg class="icon google-plus">
                                <use xlink:href="./assets/images/icons.svg#google-plus"></use>
                            </svg>Mit Google+ verbinden</a></li>
                    </ul>
                    <div class="quiet small text top offset">Wenn du dich in einem sozialen Netzwerk anmeldest und deine Punkte teilst, hilft uns das Aufmerksamkeit für unsere Aktion zu generieren.</div>
                </div>
            </section>
            <section class="ui section">
                <h2 class="title">Hinzugefügte Pins</h2>
                <div class="body">
                    <ul class="ui key-value">
                        {{#each assignedPins}}
                            {{> addedPinsRow}}
                        {{/each}}
                    </ul>
                    <div class="small top bottom offset"><a class="ui mini add-pin button" href="javascript:void(0)">+ Neuen Pin hinzufügen</a></div>
                </div>
            </section>
            <section class="ui section">
                <h2 class="title">Profil</h2>
                <div class="body">
                    <form class="ui form" action="#" method="POST">
                        <ul class="ui key-value view">
                            <li>
                                <div class="key">Foto</div>
                                <div class="value">Sehr schön, nettes Foto</div>
                                <div class="action profileImage">
                                    <img class="avatar" src="{{profileImage currentUser._id}}" width="35" height="35">
                                </div>

                                <form action="#" method="post" enctype="multipart/form-data">
                                    <p>
                                        <input id="imagesProfile" value="Senden" name="Datei" label="Datei" text="datei" type="file" size="50">
                                    </p>
                                </form>

                            </li>
                            <li>
                                <div  class="key">Benutzername</div>
                                <input class="value valueEdit hidden" type="text"  value="{{profileName}}">
                                <div class="value valueShow">{{profileName}}</div>
                                <div class="action">
                                    <a href="">
                                        <svg class="icon edit">
                                            <use xlink:href="./assets/images/icons.svg#edit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="key">Email-Adresse</div>
                                <input class="value valueEdit hidden" type="text"  value="{{profileEmail}}">
                                <div class="value valueShow">{{profileEmail}}</div>
                                <div class="action">
                                    <a href="">
                                        <svg class="icon edit">
                                            <use xlink:href="./assets/images/icons.svg#edit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                            <!--<li class="slim field error">-->
                                <!--<div class="key">Email address (form field with error)</div>-->
                                <!--<div class="value">-->
                                    <!--<input class="ui slim input" type="email" name="password" value="danijel@sprawsm.com" placeholder="Your email address">-->
                                <!--</div>-->
                                <!--<div class="action"><a href="#">-->
                                    <!--<svg class="icon edit">-->
                                        <!--<use xlink:href="./assets/images/icons.svg#edit"></use>-->
                                    <!--</svg></a></div>-->
                            <!--</li>-->
                            <li>
                                <div class="key">Passwort</div>
                                <input class="value valueEdit hidden" type="password"  value="">
                                <div class="value valueShow">&bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull;</div>
                                <div class="action">
                                    <a href="">
                                        <svg class="icon edit">
                                            <use xlink:href="./assets/images/icons.svg#edit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>

                            <!--<li>-->
                                <!--<div class="key">Passwort</div>-->
                            <!--<div class="value">&bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull; &bull;</div>-->
                            <!--<div class="action"><a href="#">-->
                                <!--<svg class="icon edit">-->
                                    <!--<use xlink:href="./assets/images/icons.svg#edit"></use>-->
                                <!--</svg></a></div>-->
                            <!--</li>-->


                            <li>
                                <div class="key">Alter</div>
                                <div class="ui hidden value valueEdit">
                                    <div class="grouped fields">
                                        {{#each ageData}}
                                            {{>checkboxLine}}
                                        {{/each}}
                                    </div>
                                </div>

                                <div class="value valueShow">{{profileAge}}</div>
                                <div class="action">
                                    <a href="">
                                        <svg class="icon edit">
                                            <use xlink:href="./assets/images/icons.svg#edit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="key">Geschlecht</div>
                                <div class="ui hidden value valueEdit">
                                    <div class="grouped fields">
                                        {{#each sexData}}
                                            {{>checkboxLine}}
                                        {{/each}}
                                    </div>
                                </div>

                                <div class="value valueShow">{{profileSex}}</div>
                                <div class="action">
                                    <a href="">
                                        <svg class="icon edit">
                                            <use xlink:href="./assets/images/icons.svg#edit"></use>
                                        </svg>
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </form><a class="delete-link small top offset" href="#">
                    <svg class="icon trash">
                        <use xlink:href="./assets/images/icons.svg#trash"></use>
                    </svg>Dein Profil löschen</a>
                    <div class="quiet small text">Durch diese Aktion löscht du alle bisherigen Ergebnisse! Vorsicht!</div>
                </div>
            </section>
        </div>
    </main>
</template>

<template name="imageView">
    <img class="ui small circular image" src="{{profileImage}}">
</template>